{
    "encryption_password": "your-disk-encryption-password",
    "users": [
        {
            "username": "grant",
            "!password": "your-password",
            "sudo": true,
            "groups": ["wheel", "docker"]
        },
        {
            "username": "grant-work",
            "!password": "your-password",
            "sudo": true,
            "groups": ["wheel", "docker"]
        }
    ]
}
