* {
  border: none;
  border-radius: 0;
  font-size: 14px;
  font-family: "Ubuntu Nerd Font";
  min-height: 0;
}

label {
  background: #222222;
  color: #eeeeee;
}

menuitem {
  background: #222222;
  color: #eeeeee;
}

menuitem:hover, menuitem:hover > label, menuitem:hover > box > label {
  background: #eeeeee;
  color: #222222;
}

separator {
  color: #666;
}

window#waybar {
  background: #222222;
  color: #eeeeee;
}

#workspaces button {
  padding: 13px 10px;
}

#workspaces button.focused {
  background: #fff176;
  color: #333;
}

#workspaces button.focused label {
  background: #fff176;
  color: #333;
}

#custom-weather {
  font-family: "Weather Icons";
}

#clock {
  font-weight: bold;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#workspaces,
#tray,
#mode {
  padding: 0 15px;
}
