[Desktop Entry]
Comment=Start google chrome ozone
Exec=google-chrome-stable --ozone-platform=wayland --enable-features=Vulkan,UseSkiaRenderer
GenericName=Google Chrome (wayland)
Icon=chrome
Name=Google Chrome (Wayland)
Type=Application
