[Desktop Entry]
Comment=Start google chrome ozone
Exec=google-chrome-stable --ozone-platform=wayland
GenericName=Google Chrome (wayland)
Icon=chrome
Name=Google Chrome (Wayland)
Type=Application
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
