@define-color selected-text #000000;
@define-color text #c6d0f5;
@define-color base #323243;
@define-color border #c6d0f5;
@define-color foreground #c6d0f5;
@define-color background #11111b;



window .box-wrapper {
  background: @background;
  padding: 12px;
  color: @text;
  border-radius: 8px;
  border: 4px solid #22283a;
  /* border: 0px; */
  margin: 0;
}

window .search-container {
  background: #22283a;
  /* border: 2px solid @border; */
  color: #ffee99;
  border-radius: 8px;
}

window .placeholder {
  opacity: 0.4;
  color: @text;
}

window .input {
  color: @accent;
  padding: 0;
  font-weight: 300;
}

child {
  padding: 0 8px;
  background: transparent;
  border-radius: 0;
  border-left: 0px solid transparent;
  transition: all 160ms ease-in-out;
}

child:hover {
  background: @background;
  border-left: 0px solid @background;
}


child:selected {
  background: linear-gradient(90deg, alpha(@accent, 0.2), transparent 100%);
  background: #88b3fa;
  color: #000000;
  border-radius: 8px;
  border-left: 0px solid @accent;
}


