:root {
--color00: #2d2940;
--color01: #2d2940;
--color02: #2d2940;
--color03: #6096fd;
--color04: #00ffd2;
--color05: #6096fd;
--color06: #00ffd2;
--color07: #00ffd2;
--color08: #C0685F;
--color09: #fca766;
--color0A: #ffd46b;
--color0B: #965f81;
--color0C: #7c79a5;
--color0D: #7b79a4;
--color0E: #987195;
--color0F: #ee897d;
}
